.alertRedColor {
    color: red;
}


.required-field::after { 		
  content: "*";		
  color: red;		
   }	

   .successColor{
    color: green;
   }

   .btn-space {
    margin-right: 5px;
}

.card__img {
    display: block;
    width: 100%;
    height: 5rem;
    object-fit: cover;
  }

